<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.4.9" targetFramework="wpa81" userInstalled="true" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="wpa81" userInstalled="true" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="wpa81" userInstalled="true" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="wpa81" userInstalled="true" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="wpa81" userInstalled="true" />
  <package id="Q42.WinRT" version="1.2.6.42" targetFramework="wpa81" userInstalled="true" />
  <package id="Q42.WinRT.Portable" version="1.2.3.42" targetFramework="wpa81" userInstalled="true" />
  <package id="WinRTXamlToolkit.WindowsPhone" version="1.8.1.0" targetFramework="wpa81" userInstalled="true" />
</packages>